@font-face {
  font-family: 'Gilroy-Black';
  src: url('../fonts/gilroy-black.eot'); /* IE 9 Compatibility Mode */
  src:
    url('../fonts/gilroy-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gilroy-black.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gilroy-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-black.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gilroy-black.svg#gilroy-black') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fonts/gilroy-light.eot'); /* IE 9 Compatibility Mode */
  src: 
    url('../fonts/gilroy-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gilroy-light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gilroy-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gilroy-light.svg#gilroy-light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fonts/gilroy-extrabold.eot'); /* IE 9 Compatibility Mode */
  src: 
    url('../fonts/gilroy-extrabold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gilroy-extrabold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gilroy-extrabold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gilroy-extrabold.svg#gilroy-extrabold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
font-family: 'Gilroy-Bold';
  src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
