body {
  margin: 0;
  width: 100%;
}

.header {
  background-color: #3030c1;
  height: 840px;
  margin: 0;
}

.logo {
  background: #3030c1;
  color: #fff;
  font: bolder 42px/138px Gilroy-Bold, Arial, Helvetica, Sans-serif;
  padding-left: 9%;
  padding-top: 4px;
  height: 93px;
}

.logoone {
  background: #3030c1;
  color: #fc3;
  font: normal 23px/11px Gilroy-Light, Arial, Helvetica, Sans-serif;
  padding-left: 17%;
  margin-left: -0.5%;
}

.header__main {
  background: #3030c1 top right no-repeat url('img/JPG.svg');
  background-position: 85% 24%;
  height: 80%;
  text-align: -webkit-match-parent;
  background-size: 39%;
}

.header__heading {
  padding: 105px 9% 0;
  font: bold 45px/54px Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
  color: #fff;
  font-size: 3.1vw;
}

.header__content {
  font: bold 30px/37px Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
  color: #fc3;
  padding-left: 9%;
  margin-bottom: 5px;
  padding-top: 3px;
  font-size: 2.1vw;
}

.header__text {
  font: bold 20px/21px Gilroy-Light, Arial, Helvetica, Sans-serif;
  color: #fff;
  font-weight: normal;
  padding-left: 9%;
  padding-top: 6px;
  margin-bottom: -2px;
  font-size: 1.38vw;
}

.header__button {
  font: bolder 20px/20px Montserrat, Arial, Helvetica, Sans-serif;
  color: #3030c1;
  padding: 16px 23px;
  text-decoration: none;
  border-radius: 0;
  transition: opacity 0.5s;
  background: #fc3;
  margin-left: 9%;
  margin-top: 20px;
}

<<<<<<< Updated upstream
 .header__button:hover {
    opacity: .5;
    width: 50px;
    height: 50px;
    background: #ffd22e;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.header__button:hover {
    background: #fc3;
    border-radius: 100%;
    width: 150px;
    height: 100px;
    -webkit-animation: pulsing 2s;
    animation: pulsing 2s;
}

@-webkit-keyframes pulsing {
    0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
}
    50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
}
    100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

  @keyframes pulsing {
    0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
    50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
    100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
=======
.header__button:hover {
  background: #fc3;
  border-radius: 100%;
  width: 150px;
  height: 100px;
  -webkit-animation: pulsing 2s;
  animation: pulsing 2s;
}

@-webkit-keyframes pulsing {
  0% {
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

  50% {
  -webkit-transform: scale(1., 1.);
  transform: scale(1., 1.);
}

  100% {
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5)
}

  50% {
  -webkit-transform: scale(1., 1.);
  transform: scale(1., 1.);
}

  100% {
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
>>>>>>> Stashed changes
  }
}

.section__heading {
  color: #3a3a3a;
  font: bolder 40px/136px Gilroy-Black, Arial, Helvetica, Sans-serif;
  margin-top: 10px;
  text-align: center;
  max-width: 100%;
}

.blockone__image {
  background: #fff no-repeat url('img/star.svg');
  background-size: 386px 114px;
  padding: 90px 189px;
  background-position: -2px 47px;
}

.blockone__heading {
  font: bolder 30px/38px Gilroy-Black, Arial, Helvetica, Sans-serif;
  color: #3030c1;
  margin: 3px 62px;
  text-align: center;
}

.blockone__content {
  font: bolder 20px/23px Gilroy-Black, Arial, Helvetica, Sans-serif;
  color: #3a3a3a;
  margin: 24px 69px;
  text-align: center;
}

.blocktwo__image {
  background: #fff no-repeat url('img/portfolio.svg');
  background-size: 380px 113px;
  padding: 84px 188px;
  background-position: 0 51px;
}

.blocktwo__heading {
  font: bolder 30px/37px Gilroy-Black, Arial, Helvetica, Sans-serif;
  color: #3030c1;
  margin: 16px 21px;
  text-align: center;
}

.blocktwo__content {
  font: bolder 20px/25px Gilroy-Black, Arial, Helvetica, Sans-serif;
  color: #3a3a3a;
  margin: 16px 65px;
  text-align: center;
  margin-top: -3px;
}

.blockthree__image {
  background: #fff no-repeat url('img/money.svg');
  background-size: 386px 114px;
  padding: 89px 189px;
  background-position: -6px 47px;
}

.blockthree__heading {
  font: bolder 30px/37px Gilroy-Black, Arial, Helvetica, Sans-serif;
  color: #3030c1;
  margin: 5px 36px;
  text-align: center;
}

.blockthree__content {
  font: bolder 20px/26px Gilroy-Black, Arial, Helvetica, Sans-serif;
  color: #3a3a3a;
  margin: 23px 62px;
  text-align: center;
}

.container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 105px 0 106px;
  margin-top: -44px;
}

<<<<<<< Updated upstream
  /* -----квадраты----- */
=======
/* -----квадраты----- */
>>>>>>> Stashed changes
.blockone {
  width: 380px;
  height: 401px;
  left: 130px;
  top: 974px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1.1em;
}

.blocktwo {
  width: 380px;
  height: 401px;
  left: 530px;
  top: 974px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1.1em;
}

.blockthree {
  width: 380px;
  height: 401px;
  left: 930px;
  top: 974px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section__title {
  color: #3a3a3a;
  font: bolder 40px/136px Gilroy-Black, Arial, Helvetica, Sans-serif;
  margin-top: -8px;
  text-align: center;
  max-width: 100%;
}

.section__text {
  color: #3a3a3a;
  font: normal 30px/36px Gilroy-Light, Arial, Helvetica, Sans-serif;
  padding-left: 16px;
  margin-top: -47px;
  text-align: center;
}

.input {
  background-color: #f0fbff;
  height: 560px;
  padding-top: 57px;
}

.input__titel {
  color: #3a3a3a;
  font: bolder 40px/136px Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
  text-align: center;
  max-width: 100%;
  line-height: 1.5;
}

.input__window {
  max-width: 380px;
  height: 80px;
  position: sticky;
  margin-top: 51px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.input-window__name {
  color: #3a3a3a;
  font: normal 20px/40px Gilroy-Light, Arial, Helvetica, Sans-serif;
  padding-left: 27px;
  padding-top: inherit;
}

.post {
  max-width: 380px;
  height: 80px;
  position: sticky;
  margin-top: -54px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 55%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.post__windowone {
  color: #3a3a3a;
  font: normal 20px/36px Gilroy-Light, Arial, Helvetica, Sans-serif;
  padding-left: 27px;
  padding-top: inherit;
  line-height: 2;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__button {
  background-color: #ffda45;
  font: bolder 20px/36px Montserrat, Arial, Helvetica, Sans-serif;
  max-width: 380px;
  height: 80px;
  position: sticky;
  left: 50%;
  transform: translate(-50%, 35%);
  padding-top: inherit;
  margin-top: 91px;
}

.section__button:hover {
<<<<<<< Updated upstream
    opacity: .5;
    width: 100px;
    height: 100px;
    background: #ffd22e;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.section__button:hover {
    background: #fc3;
    border-radius: 100%;
    width: 250px;
    height: 100px;
    -webkit-animation: pulsing 2s;
    animation: pulsing 2s;
}

@-webkit-keyframes pulsing {
    0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
}
    50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
}
    100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

  @keyframes pulsing {
    0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
    50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
    100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
=======
  background: #fc3;
  border-radius: 100%;
  width: 250px;
  height: 100px;
  -webkit-animation: pulsing 2s;
  animation: pulsing 2s;
}

@-webkit-keyframes pulsing {
  0% {
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5)
}

  50% {
  -webkit-transform: scale(1.0, 1.0);
  transform: scale(1.0, 1.0);
}

  100% {
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5)
}

  50% {
  -webkit-transform: scale(1.0, 1.0);
  transform: scale(1.0, 1.0);
}

  100% {
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
>>>>>>> Stashed changes
  }
}

.footer {
  background-color: #00008b;
  height: 120px;
  margin-top: -21px;
}

.footer__signature {
  color: #fff;
  font: normal 15px/21px Roboto, Arial, Helvetica, Sans-serif;
  padding: 50px 9%;
  word-spacing: 2px;
}

.header__mobile {
  display: none;
}

.header__mobileone {
  display: none;
}

.section__mobile {
  display: none;
}

.input__mobile {
  display: none;
}

@media (max-width: 768px) {
<<<<<<< Updated upstream

.header__main {
=======
  .header__main {
>>>>>>> Stashed changes
    background: #3030c1 no-repeat url('img/JPG.svg');
    background-position: 62px 314px;
    background-size: 262px 517px;
  }

  .header__heading {
    padding: 5% 9% 0;
    font: bold 45px/54px Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
    color: #fff;
    font-size: 5.1vw;
  }

  .header__content {
    font: bold 30px/37px Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
    color: #fc3;
    padding-left: 9%;
    margin-bottom: 5px;
    font-size: 5.1vw;
  }

  .header__text {
    font: bold 20px/21px Gilroy-Light, Arial, Helvetica, Sans-serif;
    color: #fff;
    font-weight: normal;
    font-size: 3.38vw;
  }

  .section__heading {
    color: #3a3a3a;
    font: bolder 40px/136px Gilroy-Black, Arial, Helvetica, Sans-serif;
    margin-top: 10px;
    text-align: center;
    max-width: 100%;
    line-height: 1;
    font-size: 8.1vw;
  }

  .container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 105px 0 106px;
    margin-top: 0;
  }

  .input__titel {
    color: #3a3a3a;
    font: bolder 40px/136px Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
    text-align: center;
    max-width: 100%;
    line-height: 1;
    margin-top: auto;
    font-size: 8.1vw;
  }

  .section__title {
    color: #3a3a3a;
    font: bolder 40px/136px Gilroy-Black, Arial, Helvetica, Sans-serif;
    margin-top: 21px;
    text-align: center;
    line-height: 2;
    max-width: 100%;
    font-size: 8.1vw;
  }

  .section__button {
    background-color: #ffda45;
    font: bolder 20px/36px Montserrat, Arial, Helvetica, Sans-serif;
    max-width: 90vw;
    height: 10vh;
    transform: translate(-6%, 35%);
    margin: -56px -2px;
  }

  .blocktwo__image {
    background: #fff no-repeat url(img/portfolio.svg);
    background-size: 75vw 12vh;
    padding: 8vh 10em;
    background-position: center;
  }

  .blockone__image {
    background: #fff no-repeat url(img/star.svg);
    background-size: 75vw 12vh;
    padding: 8vh 10em;
    background-position: center;
  }

  .blockone__heading {
    font: bolder 30px/38px Gilroy-Black, Arial, Helvetica, Sans-serif;
    color: #3030c1;
    margin: 3vh 4vw;
    text-align: center;
  }

  .blockthree__image {
    background: #fff no-repeat url(img/money.svg);
    background-size: 75vw 12vh;
    padding: 8vh 10em;
    background-position: center;
  }

  .section__text {
    color: #3a3a3a;
    font: normal 30px/36px Gilroy-Light, Arial, Helvetica, Sans-serif;
    text-align: center;
    font-size: 6.1vw;
  }

  .input__window {
    max-width: 90vw;
    height: 10vh;
    position: sticky;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    background-color: #fff;
  }

  .post {
    max-width: 90vw;
    height: 10vh;
    position: sticky;
    margin-top: 19px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
<<<<<<< Updated upstream
    background-color: #fff; 
=======
    background-color: #fff;
>>>>>>> Stashed changes
  }

  .post__windowone {
    color: #3a3a3a;
    font: normal 20px/36px Gilroy-Light, Arial, Helvetica, Sans-serif;
    padding-left: 27px;
    padding-top: inherit;
    line-height: 1;
 }
}

@media (max-width: 322px) {
  body {
    margin: 0;
    width: 100%;
  }

  .header {
    max-width: 328px;
    height: 603px;
    margin: -8px;
    background-color: #3030c1;
  }

  .logo {
    background: #3030c1;
    padding-top: 53px;
    color: #fff;
    font: normal 22px/1px Gilroy-Bold, Arial, Helvetica, Sans-serif;
    padding-left: 37px;
    margin-bottom: -78px;
  }

  .logoone {
    background: #3030c1;
    color: #fc3;
    font: normal 12px/0px Gilroy-Light, Arial, Helvetica, Sans-serif;
    padding-left: 94px;
  }

  .header__main {
    background: #3030c1 no-repeat url('img/JPG.svg');
    background-position: 39px 119px;
    background-size: 259px 519px;
    padding-bottom: 8px;
  }

  .header__button {
    display: none;
  }

  .header__heading {
    display: none;
  }

  .header__mobile {
    display: block;
    padding-left: 38px;
    text-align: -webkit-match-parent;
    font: bold 25px/31px Gilroy-Bold, Arial, Helvetica, Sans-serif;
    color: white;
    padding-top: 27px;
  }

  .header__content {
    font: bold 20px/25px Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
    color: #fc3;
    padding-left: 38px;
    margin-top: 23px;
  }

  .header__text {
    display: none;
  }

  .header__mobileone {
    display: block;
    font: bold 15px/16px Gilroy-Light, Arial, Helvetica, Sans-serif;
    color: #fff;
    font-weight: normal;
    padding-left: 38px;
    margin-top: -2px;
  }

  .section {
    display: block;
    width: 320px;
    height: 1670px;
  }

  .section__heading {
    font: bold 20px/81px Gilroy-Black, Gilroy-Light, Gilroy-ExtraBold, Gilroy-Bold, Arial, Helvetica, Sans-serif;
    padding-left: 0;
    margin-top: 35px;
  }

  .blockone {
    width: 259px;
    height: 273px;
    left: 31px;
    top: 704px;
    margin: -15px 0 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .blockone__image {
    background: #fff no-repeat url(img/star.svg);
    background-size: 261px 85px;
    padding: 69px 96px;
    background-position: -2px 43px;
  }

  .blockone__heading {
    display: inline-block;
    font: bold 20px/23px Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
    color: #3030c1;
    margin: 3px 43px;
    text-align: center;
  }

  .blockone__content {
    font: bolder 10px/12px Gilroy-Black, Arial, Helvetica, Sans-serif;
    color: #3a3a3a;
    margin: 14px 42px;
    text-align: center;
  }

  .blocktwo {
    width: 259px;
    height: 273px;
    left: 31px;
    top: 997px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .blocktwo__image {
    background: #fff no-repeat url('img/portfolio.svg');
    background-size: 261px 85px;
    padding: 69px 96px;
    background-position: -2px 41px;
  }

  .blocktwo__heading {
    display: inline-block;
    font: bold 20px/24px Gilroy-Black, Arial, Helvetica, Sans-serif;
    color: #3030c1;
    margin: 0 19px;
    text-align: center;
  }

  .blocktwo__content {
    font: bolder 10px/12px Gilroy-Black, Arial, Helvetica, Sans-serif;
    color: #3a3a3a;
    margin: 14px 66px;
    text-align: center;
    margin-top: 8px;
  }

  .blockthree {
    width: 259px;
    height: 273px;
    margin: 4px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .blockthree__image {
    background: #fff no-repeat url('img/money.svg');
    background-size: 261px 85px;
    padding: 69px 96px;
    background-position: -2px 41px;
  }

  .blockthree__heading {
    display: inline-block;
    font: bold 20px/24px Gilroy-Black, Arial, Helvetica, Sans-serif;
    color: #3030c1;
    margin: 0 19px;
    text-align: center;
    padding-top: 1px;
  }

  .blockthree__content {
    font: bolder 10px/12px Gilroy-Black, Gilroy-Light, Gilroy-ExtraBold, Gilroy-Bold, Arial, Helvetica, Sans-serif;
    color: #3a3a3a;
    margin: 14px 66px;
    text-align: center;
    margin-left: 59px;
    margin-top: 16px;
  }

  .section__title {
    color: #3a3a3a;
    font: bolder 20px/48px Gilroy-Black, Gilroy-Light, Gilroy-ExtraBold, Gilroy-Bold, Arial, Helvetica, Sans-serif;
    padding-left: 1px;
    margin-top: 40px;
    display: block;
  }

  .section__text {
    display: none;
  }

  .section__mobile {
    display: block;
    color: #3a3a3a;
    font: normal 18px/21px Gilroy-Light, Arial, Helvetica, Sans-serif;
    padding-left: 0;
    text-align: center;
    margin: 20px 0 0 0;
    padding-bottom: 41px;
  }

  .input {
    display: block;
    background-color: #f0fbff;
    height: 325px;
    padding-top: 0;
  }

  .input__titel {
    display: none;
  }

  .input__mobile {
    display: block;
    color: #3a3a3a;
    text-align: center;
    font: bolder 20px/25px Gilroy-ExtraBold, Gilroy-Bold, Arial, Helvetica, Sans-serif;
    margin-top: 56px;
    padding-top: 0;
  }

  .input__window {
    width: 260px;
    height: 45px;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
  }

  .input-window__name {
    color: #3a3a3a;
    font: normal 10px/26px Gilroy-Light, Arial, Helvetica, Sans-serif;
    padding-left: 16px;
    padding-top: 0;
  }

  .post {
    width: 260px;
    height: 45px;
    margin-left: 30px;
    margin-top: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
  }

  .post__windowone {
    color: #3a3a3a;
    font: normal 10px/26px Gilroy-Light, Arial, Helvetica, Sans-serif;
    padding-left: 16px;
    margin-top: 11px;
    padding-top: 0;
  }

  .container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 6px 0 6px;
  }

  .section__button {
    background-color: #ffda45;
    font: bold 10px/8px Montserrat, Arial, Helvetica, Sans-serif;
    width: 260px;
    height: 46px;
    margin: -11px 16px;
  }

  .footer {
    background-color: #00008b;
    height: 60px;
    margin-top: -25px;
    min-width: 310px;
    max-width: 320px;
  }

  .footer__signature {
    color: #fff;
    font: normal 10px/1px Roboto, Arial, Helvetica, Sans-serif;
    padding: 29px 30px;
    word-spacing: 1px;
  }
}
