body {
  margin: 0;
  width: 100%;
}

.header {
  background-color: #3030c1;
  height: 840px;
  margin: 0;
}

.logo {
  background: #3030c1;
  color: #fff;
  font: bolder 41px/141px Gilroy-Bold, Arial, Helvetica, Sans-serif;
  padding-left: 9%;
  padding-top: 3px;
  height: 93px;
}

.logoone {
  background: #3030c1;
  color: #fc3;
  font: normal 23px/12px Gilroy-Light, Arial, Helvetica, Sans-serif;
  padding-left: 17%;
}

.header__main {
  background: #3030c1 top right no-repeat url('img/JPG.svg');
  background-position: 85% 24%;
  height: 80%;
  text-align: -webkit-match-parent;
  background-size: 39%;
}

.header__heading {
  padding: 105px 9% 0;
  font: bold 45px/54px Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
  color: #fff;
}

.header__content {
  font: bold 30px/38px Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
  color: #fc3;
  padding-left: 9%;
  margin-bottom: 3px;
  padding-top: 2px;
}

.header__text {
  font: bold 20px/21px Gilroy-Light, Arial, Helvetica, Sans-serif;
  color: #fff;
  font-weight: normal;
  padding-left: 9%;
  padding-top: 6px;
}

.header__button {
  font: bolder 20px/20px Montserrat, Arial, Helvetica, Sans-serif;
  color: #3030c1;
  padding: 16px 23px;
  text-decoration: none;
  border-radius: 0;
  transition: opacity 0.5s;
  background: #fc3;
  margin-left: 9%;
  margin-top: 19px;
}

.header__button:hover {
  background: green;
  opacity: 0.5;
  border-radius: 100%;
  width: 200px;
  height: 60px;
  -webkit-animation: pulsing 2s infinite;
  animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1., 1.);
    transform: scale(1., 1.);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.section__heading {
  color: #3a3a3a;
  font: bolder 40px/136px Gilroy-Black, Arial, Helvetica, Sans-serif;
  margin-top: 10px;
  text-align: center;
  max-width: 100%;
}

.blockone__image {
  background: #fff no-repeat url('img/star.svg');
  background-size: 386px 114px;
  padding: 90px 189px;
  background-position: -2px 47px;
}

.blockone__heading {
  font: bolder 30px/38px Gilroy-Black, Arial, Helvetica, Sans-serif;
  color: #3030c1;
  margin: 3px 62px;
  text-align: center;
}

.blockone__content {
  font: bolder 20px/23px Gilroy-Black, Arial, Helvetica, Sans-serif;
  color: #3a3a3a;
  margin: 24px 69px;
  text-align: center;
}

.blocktwo__image {
  background: #fff no-repeat url('img/portfolio.svg');
  background-size: 380px 113px;
  padding: 84px 192px;
  background-position: 0 51px;
}

.blocktwo__heading {
  font: bolder 30px/37px Gilroy-Black, Arial, Helvetica, Sans-serif;
  color: #3030c1;
  margin: 16px 21px;
  text-align: center;
}

.blocktwo__content {
  font: bolder 20px/25px Gilroy-Black, Arial, Helvetica, Sans-serif;
  color: #3a3a3a;
  margin: 16px 65px;
  text-align: center;
  margin-top: -3px;
}

.blockthree__image {
  background: #fff no-repeat url('img/money.svg');
  background-size: 386px 114px;
  padding: 89px 189px;
  background-position: -2px 47px;
}

.blockthree__heading {
  font: bolder 30px/37px Gilroy-Black, Arial, Helvetica, Sans-serif;
  color: #3030c1;
  margin: 5px 36px;
  text-align: center;
}

.blockthree__content {
  font: bolder 20px/26px Gilroy-Black, Arial, Helvetica, Sans-serif;
  color: #3a3a3a;
  margin: 23px 62px;
  text-align: center;
}

.container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 105px 0 106px;
  margin-top: -44px;
}

/* -----квадраты----- */
.blockone {
  width: 380px;
  height: 401px;
  left: 130px;
  top: 974px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.blocktwo {
  width: 380px;
  height: 401px;
  left: 530px;
  top: 974px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.blockthree {
  width: 380px;
  height: 401px;
  left: 930px;
  top: 974px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section__title {
  color: #3a3a3a;
  font: bolder 40px/136px Gilroy-Black, Arial, Helvetica, Sans-serif;
  margin-top: 10px;
  text-align: center;
  max-width: 100%;
}

.section__text {
  color: #3a3a3a;
  font: normal 30px/36px Gilroy-Light, Arial, Helvetica, Sans-serif;
  padding-left: 16px;
  margin-top: -47px;
  text-align: center;
}

.input {
  background-color: #f0fbff;
  height: 560px;
  padding-top: 57px;
}

.input__titel {
  color: #3a3a3a;
  font: bolder 40px/136px Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
  text-align: center;
  max-width: 100%;
  line-height: 1.5;
}

.input__window {
  max-width: 380px;
  height: 80px;
  position: sticky;
  margin-top: 51px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.input-window__name {
  color: #3a3a3a;
  font: normal 20px/40px Gilroy-Light, Arial, Helvetica, Sans-serif;
  padding-left: 27px;
  padding-top: inherit;
}

.post {
  max-width: 380px;
  height: 80px;
  position: sticky;
  margin-top: -54px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 55%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.post__windowone {
  color: #3a3a3a;
  font: normal 20px/36px Gilroy-Light, Arial, Helvetica, Sans-serif;
  padding-left: 27px;
  padding-top: inherit;
  line-height: 2;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__button {
  background-color: #ffda45;
  font: bolder 20px/36px Montserrat, Arial, Helvetica, Sans-serif;
  max-width: 380px;
  height: 80px;
  position: sticky;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 35%);
  padding-top: inherit;
  margin-top: 91px;
}

.section__button:hover {
  background: green;
  opacity: 0.5;
  border-radius: 100%;
  width: 200px;
  cursor: pointer;
  height: 60px;
  text-align: center;
  -webkit-animation: pulsing 3s infinite;
  animation: pulsing 3s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  }

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
}

  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
}

  100% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
 }
}

.footer {
  background-color: #00008b;
  height: 120px;
  margin-top: -21px;
}

.footer__signature {
  color: #fff;
  font: normal 15px/21px Roboto, Arial, Helvetica, Sans-serif;
  padding: 50px 9%;
  word-spacing: 2px;
}

.header__mobile {
  display: none;
}

.header__mobileone {
  display: none;
}

.section__mobile {
  display: none;
}

.input__mobile {
  display: none;
}

@media (max-width: 1205px) {
  .header__heading {
    padding: 105px 9% 0;
    font: bold 3.7vw/5vh Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
    color: #fff;
  }

  .header__content {
    font: bold 2.5vw/3.5vh Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
    color: #fc3;
    padding-left: 9%;
    margin-bottom: 3px;
    padding-top: 20px;
  }

  .header__text {
    font: bold 1.8vw/2.5vh Gilroy-Light, Arial, Helvetica, Sans-serif;
    color: #fff;
    font-weight: normal;
    padding-left: 9%;
    padding-top: 24px;
  }

  .section__heading {
    color: #3a3a3a;
    font: bolder 40px/136px Gilroy-Black, Arial, Helvetica, Sans-serif;
    margin-top: 10px;
    text-align: center;
    max-width: 100%;
    line-height: 1;
  }

  .container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 105px 0 106px;
    margin-top: 0;
  }

  .input__titel {
    color: #3a3a3a;
    font: bolder 40px/136px Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
    text-align: center;
    max-width: 100%;
    line-height: 1;
  }

  .blockone {
    margin-right: 1vw;
    margin-bottom: 2vh;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  }

  .blocktwo {
    margin-bottom: 2vh;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  }

  .section__title {
    color: #3a3a3a;
    font: bolder 40px/136px Gilroy-Black, Arial, Helvetica, Sans-serif;
    margin-bottom: 46px;
    text-align: center;
    line-height: 1.3;
    max-width: 100%;
  }

  .section__button {
    background-color: #ffda45;
    font: bolder 20px/36px Montserrat, Arial, Helvetica, Sans-serif;
    max-width: 380px;
    height: 80px;
    position: sticky;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 35%);
    padding-top: inherit;
    margin-top: 46px;
  }

  .blocktwo__image {
    background: #fff no-repeat url(img/portfolio.svg);
    background-size: 380px 113px;
    padding: 84px 170px;
    background-position: 0 51px;
  }

  .blockone__image {
    background: #fff no-repeat url(img/star.svg);
    background-size: 386px 114px;
    padding: 88px 184px;
    background-position: center;
  }

  .blockthree__image {
    background: #fff no-repeat url(img/money.svg);
    background-size: 386px 114px;
    padding: 89px 173px;
    background-position: -2px 47px;
  }
}

@media (max-width: 768px) {
  .header__main {
    background: #3030c1 top right no-repeat url(img/JPG.svg);
    background-position: 9% 101%;
    height: 81%;
    text-align: -webkit-match-parent;
    background-size: 35%;
  }

  .header__heading {
    padding: 105px 9% 0;
    font: bold 4.5vw Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
  }

  .header__button {
    margin-top: 5px;
  }

  .header__content {
    font: bold 4.5vw/3vh Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
  }

  .header__text {
    font: bold 2.8vw/2.5vh Gilroy-Light, Arial, Helvetica, Sans-serif;
  }

  .section__heading {
    font: bolder 5.5vw Gilroy-Black, Arial, Helvetica, Sans-serif;
    line-height: 1;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
  }

  .section__title {
    font: bolder 5.5vw Gilroy-Black, Arial, Helvetica, Sans-serif;
    line-height: 1.3;
  }

  .section__text {
    font: normal 4vw Gilroy-Light, Arial, Helvetica, Sans-serif;
    padding: 0 20px;
  }

  .input__titel {
    font: bolder 5.5vw Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
    text-align: center;
    line-height: 1;
  }

  .input {
    padding-top: 3px;
  }

  .blockone {
    height: 384px;
  }

  .blockone__image {
    padding: 70px 156px;
    background-position: center;
  }

  .blockone__heading {
    font: bolder 27px/38px Gilroy-Black, Arial, Helvetica, Sans-serif;
    margin: 3px 43px;
  }

  .blocktwo {
    height: 384px;
  }

  .blocktwo__image {
    padding: 70px 156px;
    background-position: center;
  }

  .blocktwo__heading {
    font: bolder 27px/38px Gilroy-Black, Arial, Helvetica, Sans-serif;
    margin: 3px 43px;
  }

  .blockthree {
    height: 384px;
  }

  .blockthree__image {
    padding: 70px 156px;
    background-position: center;
  }

  .blockthree__heading {
    font: bolder 27px/38px Gilroy-Black, Arial, Helvetica, Sans-serif;
    margin: 3px 43px;
  }

  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 91%;
  }

  .input__window {
    max-width: 19rem;
    transform: translate(-58%, -50%);
  }

  .post {
    max-width: 19rem;
    transform: translate(-58%, 38%);
  }

  .post__windowone {
    font: normal 18px/34px Gilroy-Light, Arial, Helvetica, Sans-serif;
    padding-left: 25px;
    line-height: 2;
  }

  .section__button {
    font: bolder 20px/36px Montserrat, Arial, Helvetica, Sans-serif;
    max-width: 19rem;
    transform: translate(-58%, 38%);
  }
}

@media (max-width: 322px) {
  body {
    margin: 0;
    width: 100%;
  }

  .header {
    max-width: 320px;
    height: 586px;
    background-color: #3030c1;
  }

  .logo {
    background: #3030c1;
    padding-top: 37px;
    color: #fff;
    font: normal 22px/1px Gilroy-Bold, Arial, Helvetica, Sans-serif;
    padding-left: 29px;
    margin-bottom: -80px;
  }

  .logoone {
    background: #3030c1;
    color: #fc3;
    font: normal 12px/0px Gilroy-Light, Arial, Helvetica, Sans-serif;
    padding-left: 86px;
  }

  .header__main {
    background: #3030c1 no-repeat url('img/JPG.svg');
    background-position: 31px 120px;
    background-size: 259px 519px;
    padding-bottom: 8px;
  }

  .header__button {
    display: none;
  }

  .header__heading {
    display: none;
  }

  .header__mobile {
    display: block;
    padding-left: 30px;
    text-align: -webkit-match-parent;
    font: bold 25px/31px Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
    color: white;
    padding-top: 29px;
  }

  .header__content {
    font: bold 20px/25px Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
    color: #fc3;
    padding-left: 30px;
    margin-top: 5px;
  }

  .header__text {
    display: none;
  }

  .header__mobileone {
    display: block;
    font: bold 15px/16px Gilroy-Light, Arial, Helvetica, Sans-serif;
    color: #fff;
    font-weight: normal;
    padding-left: 30px;
  }

  .section {
    display: block;
    width: 320px;
    height: 1670px;
  }

  .section__heading {
    font: bold 20px/81px Gilroy-Black, Gilroy-Light, Gilroy-ExtraBold, Gilroy-Bold, Arial, Helvetica, Sans-serif;
    padding-left: 0;
    margin-top: 26px;
  }

  .blockone {
    width: 259px;
    height: 273px;
    left: 31px;
    top: 704px;
    margin: -15px 0 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .blockone__image {
    background: #fff no-repeat url(img/star.svg);
    background-size: 261px 85px;
    padding: 69px 96px;
    background-position: -2px 43px;
  }

  .blockone__heading {
    display: inline-block;
    font: bold 20px/23px Gilroy-ExtraBold, Arial, Helvetica, Sans-serif;
    color: #3030c1;
    margin: 3px 43px;
    text-align: center;
  }

  .blockone__content {
    font: bolder 10px/12px Gilroy-Black, Arial, Helvetica, Sans-serif;
    color: #3a3a3a;
    margin: 14px 42px;
    text-align: center;
  }

  .blocktwo {
    width: 259px;
    height: 273px;
    left: 31px;
    top: 997px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .blocktwo__image {
    background: #fff no-repeat url('img/portfolio.svg');
    background-size: 261px 85px;
    padding: 69px 96px;
    background-position: -2px 41px;
  }

  .blocktwo__heading {
    display: inline-block;
    font: bold 20px/24px Gilroy-Black, Arial, Helvetica, Sans-serif;
    color: #3030c1;
    margin: 0 19px;
    text-align: center;
  }

  .blocktwo__content {
    font: bolder 10px/12px Gilroy-Black, Arial, Helvetica, Sans-serif;
    color: #3a3a3a;
    margin: 14px 66px;
    text-align: center;
    margin-top: 8px;
  }

  .blockthree {
    width: 259px;
    height: 273px;
    left: 31px;
    top: 1292px;
    margin: 9px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .blockthree__image {
    background: #fff no-repeat url('img/money.svg');
    background-size: 261px 85px;
    padding: 69px 96px;
    background-position: -2px 41px;
  }

  .blockthree__heading {
    display: inline-block;
    font: bold 20px/24px Gilroy-Black, Arial, Helvetica, Sans-serif;
    color: #3030c1;
    margin: -14px 19px;
    text-align: center;
    padding-top: 15px;
  }

  .blockthree__content {
    font: bolder 10px/12px Gilroy-Black, Gilroy-Light, Gilroy-ExtraBold, Gilroy-Bold, Arial, Helvetica, Sans-serif;
    color: #3a3a3a;
    margin: 14px 66px;
    text-align: center;
    margin-left: 59px;
    margin-top: 16px;
  }

  .section__title {
    color: #3a3a3a;
    font: bolder 20px/48px Gilroy-Black, Gilroy-Light, Gilroy-ExtraBold, Gilroy-Bold, Arial, Helvetica, Sans-serif;
    padding-left: 1px;
    margin-top: 34px;
    display: block;
  }

  .section__text {
    display: none;
  }

  .section__mobile {
    display: block;
    color: #3a3a3a;
    font: normal 18px/21px Gilroy-Light, Arial, Helvetica, Sans-serif;
    padding-left: 0;
    text-align: center;
    margin: -27px 0 0 0;
    padding-bottom: 54px;
  }

  .input {
    display: block;
    background-color: #f0fbff;
    height: 345px;
    margin-top: -14px;
  }

  .input__titel {
    display: none;
  }

  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 91%;
  }

  .input__mobile {
    display: block;
    color: #3a3a3a;
    text-align: center;
    font: bolder 20px/25px Gilroy-ExtraBold, Gilroy-Bold, Arial, Helvetica, Sans-serif;
    margin-top: 56px;
    padding-top: 0;
  }

  .input__window {
    width: 260px;
    height: 45px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    transform: translate(-50%, -50%);
  }

  .input-window__name {
    color: #3a3a3a;
    font: normal 10px/26px Gilroy-Light, Arial, Helvetica, Sans-serif;
    padding-left: 16px;
    padding-top: 0;
  }

  .post {
    width: 260px;
    height: 45px;
    margin-left: 30px;
    margin-top: -35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    transform: translate(-50%, 58%);
  }

  .post__windowone {
    color: #3a3a3a;
    font: normal 10px/26px Gilroy-Light, Arial, Helvetica, Sans-serif;
    padding-left: 16px;
    margin-top: 11px;
    padding-top: 0;
  }

  .container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 6px 0 6px;
  }

  .section__button {
    background-color: #ffda45;
    font: bold 10px/8px Montserrat, Arial, Helvetica, Sans-serif;
    width: 260px;
    height: 46px;
    margin-left: 29px;
    margin-top: 36px;
    transform: translate(-50%, 36%);
  }

  .footer {
    background-color: #00008b;
    height: 60px;
    margin-top: -25px;
    min-width: 310px;
    max-width: 320px;
  }

  .footer__signature {
    color: #fff;
    font: normal 10px/1px Roboto, Arial, Helvetica, Sans-serif;
    padding: 29px 30px;
    word-spacing: 1px;
  }
}
